<!DOCTYPE html>
<html lang="en">
<script src= "../public/libs/bootstrap/js/bootstrap.js"></script>
<link rel = "stylesheet" href = "../public/libs/bootstrap/css/bootstrap.css">
<link rel = "stylesheet" href = "../public/stylesheets/calendar.css">
<head>
    <meta charset="UTF-8">
    <title>calendar</title>
</head>
<body>
<span class="col-xs-1"></span>
<span class="col-xs-10" style="background-color: #00b7ff">
    <table>
        <thead>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
        </tbody>
    </table>
</span>
<span class="col-xs-1"></span>
</body>
</html>