<div id="header" class="navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-target="#header-navbar" data-toggle="collapse" aria-contral="header-navbar" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">Social Map</a>
		</div>
		<nav id="header-navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-menu">
				<li>
					<a href=""><i class="fa fa-calendar-o"></i> 달력</a>
				</li>
				<li>
					<a href=""><i class="fa fa-search-plus"></i> 일정 추천</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href=""><i class="fa fa-user-o"></i> 로그인</a>
				</li>
				<li>
					<a href=""><i class="fa fa-cog"></i> 설정</a>
				</li>
			</ul>
		</nav>
	</div>
</div>