<!DOCTYPE html>
<html lang="en">
<script src= "/libs/jquery/jquery.js"></script>
<script src= "/libs/bootstrap/js/bootstrap.js"></script>
<script src= "/libs/moment/moment-with-locales.min.js"></script>
<script src= "/libs/fullcalendar/fullcalendar.js"></script>
<script src= "/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src= "/libs/async.js"></script>
<link rel = "stylesheet" href="/libs/font-awesome/css/font-awesome.css">
<link rel = "stylesheet" href = "/libs/bootstrap/css/bootstrap.css">
<link rel = "stylesheet" href = "/libs/fullcalendar/fullcalendar.css">
<link rel = "stylesheet" href = "/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<link rel = "stylesheet" href = "/stylesheets/header.css">
<link rel = "stylesheet" href = "/stylesheets/login.css">

<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<header>
    <%- include header %>
</header>
    <section>
        <div class = "jumbotron">
            <div class = "row introduction">
                <div class = "display_intro"> Welcome to Join!</div>
            </div>
            <div class = "row main">
                <div class = "display_font">
                    <p>This site is used by CS408 Team5.</p>
                    <p>If you want to use this page, please login with google account.</p></div>
                    <div class="g-signin2" data-longtitle="true">
            </div>
        </div>
        </div>
    </section>
</body>
</html>