<!DOCTYPE html>
<html lang="en">
<script src= "/libs/jquery/jquery.js"></script>
<script src= "/libs/bootstrap/js/bootstrap.js"></script>
<link rel = "stylesheet" href="/libs/font-awesome/css/font-awesome.css">
<link rel = "stylesheet" href = "/libs/bootstrap/css/bootstrap.css">
<link rel = "stylesheet" href = "/stylesheets/header.css">
<link rel = "stylesheet" href = "/stylesheets/recommendation.css">
<head>
    <meta charset="UTF-8">
    <title>calendar</title>
</head>
<body>
<header>
    <%- include header %>
</header>
<section>
    <div class="container row">
        <span class="col-xs-1"></span>
        <span id ="calendar_span" class="col-xs-10">
            <div id='recommendation'>
                <div style="height:100px">
                    <div class="col-xs-2"></div>
                  <div class="input-group col-xs-8">
                    <span class="input-group-addon">Search Events</span>
                    <input id="msg" type="text" class="form-control" name="msg" placeholder="Input keywords">
                  </div>
                    <div class="col-xs-2"></div>
                </div>
                <div style = "height:300px; margin: 20px;">
                    <div style="border-radius: 10px; background-color: #aaaaaa; height: 100%; width: 100%;">
                        <div class="col-xs-3"style="height:100%;"><img src="tmp1.jpg" style="height: inherit; width:auto;"> </div>
                        <div class="col-xs-9" style="height:100%;color: white">
                            <h2>COFFEE MORNING</h2>
                            <p>This event grants you a cup of morning coffee for free.</p>
                            <p>From 2018-06-23T07:00:00 To 2018-06-23T11:00:00</p>
                            <p>This event is free to join and free to exit.</p>
                            <p>Event fee : none</p>
                        </div>
                    </div>
                </div>
                <div style = "height:300px; margin: 20px;">
                    <div style="border-radius: 10px; background-color: #aaaaaa; height: 100%; width: 100%;">
                        <div class="col-xs-3"style="height:100%;"><img src="tmp1.jpg" style="height: inherit; width:auto;"> </div>
                        <div class="col-xs-9" style="height:100%;color: white">
                            <h2>COFFEE MORNING</h2>
                            <p>This event grants you a cup of morning coffee for free.</p>
                            <p>From 2018-06-23T07:00:00 To 2018-06-23T11:00:00</p>
                            <p>This event is free to join and free to exit.</p>
                            <p>Event fee : none</p>
                        </div>
                    </div>
                </div>
                <div style = "height:300px; margin: 20px;">
                    <div style="border-radius: 10px; background-color: #aaaaaa; height: 100%; width: 100%;">
                        <div class="col-xs-3"style="height:100%;"><img src="tmp1.jpg" style="height: inherit; width:auto;"> </div>
                        <div class="col-xs-9" style="height:100%;color: white">
                            <h2>COFFEE MORNING</h2>
                            <p>This event grants you a cup of morning coffee for free.</p>
                            <p>From 2018-06-23T07:00:00 To 2018-06-23T11:00:00</p>
                            <p>This event is free to join and free to exit.</p>
                            <p>Event fee : none</p>
                        </div>
                    </div>
                </div>

            </div>
        </span>
        <span class="col-xs-1"></span>
    </div>
</section>