table{
    border-collapse : collapse;
    width : 98%;
    margin-left: 1%;
    margin-right: 1%;
}

th,td{
    width: 14%;

}

th{
    text-align: center;
}

td{
    padding-left: 1%;
    text-align: left;
}

table,th,td{
    border: 1px solid black ;
}