#header {
    background-color: white;
}
#header a.navbar-brand {
	color: #333;
	margin-right: 10px;
}

#header-navbar .navbar-menu > li {
	width: 160px;
	text-align: center;
}

#header-navbar a {
	color: black;
}
#header-navbar a:hover {
	text-decoration: underline;
	background-color: white;
}
#header-navbar a .fa {
	font-size: 16px;
}

#login, #logout {
    cursor: pointer;
}
